<module_list>
<debug>
<item>plugin_common_toolbar_d.uiplugin</item>
<item>plugin_server_d.kpi</item>
<item>plugin_stdview_d.kpi</item>
<item>plugin_toolbox_d.kpi</item>
<item>plugin_transform_d.kpi</item>
<item>ui_acis_selection_toolkit_d.uiplugin</item>
<item>ui_appearance_d.kpi</item>
<item>ui_meshes_st_d.uiplugin</item>
<item>ui_progress_bar_d.kpi</item>
<item>ui_toolbar_parser_d.uiplugin</item>
<item>ui_toolbar_status_d.kpi</item>
</debug>
<release>
<item>plugin_common_toolbar.uiplugin</item>
<item>plugin_server.kpi</item>
<item>plugin_stdview.kpi</item>
<item>plugin_toolbox.kpi</item>
<item>plugin_transform.kpi</item>
<item>ui_acis_selection_toolkit.uiplugin</item>
<item>ui_appearance.kpi</item>
<item>ui_meshes_st.uiplugin</item>
<item>ui_progress_bar.kpi</item>
<item>ui_toolbar_parser.uiplugin</item>
<item>ui_toolbar_status.kpi</item>
</release>
</module_list>
