/////////////////////////////////////////////////////////////////////////////////////////////////
// Import external javascript module by reqire function.

var websocket = require('socket.io/comx.websocket.js');

/////////////////////////////////////////////////////////////////////////////////////////////////
//System Pre-define functions 

function OnInitializeData()
{
    websocket.Connect();
}

function OnInitializePost()
{
}

function OnAnimate()
{
}

function OnCloseForm()
{
    websocket.Dispose();
}

/////////////////////////////////////////////////////////////////////////////////////////////////
// Input your javascript codes here.
