/////////////////////////////////////////////////////////////////////////////////////////////////
// Import external javascript module by reqire function.

var websocket = require('socket.io/comx.websocket.js');

/////////////////////////////////////////////////////////////////////////////////////////////////
//System Pre-define functions 


function OnInitializeData()
{
    websocket.Startup(true/*debug_mode*/);
}

function OnInitializePost()
{
}

function OnAnimate()
{
}

function OnCloseForm()
{
    websocket.Stop();
}

/////////////////////////////////////////////////////////////////////////////////////////////////
// Input your javascript codes here.

