# Ignore 3rd-depend dll files which are putted in deps subfolder.
/deps
/setup
/__.bat
Thumbs.db
*.ncb
*.pdb
/src/toolkit/xsd_validate/xsd_validate/Release/
/src/toolkit/xsd_validate/xsd_validate/Debug/
*.tmp
go.bat
/src/toolkit/libkulform.no.addin/Release/
/data/urun.json
/bin/kdesktop.exp
/bin/kdesktop_d.exp
/bin/kdesktop_d.ilk
/src/js_ext/js_ext_shell/Debug/
/src/js_ext/js_ext_shell/Release/
/src/kmasdesktop.with.kul.engine/kmasdesktop/Debug/
/src/kmasdesktop.with.kul.engine/kmasdesktop/Release/
/data/regex_db/*.dll
/data/regex_db/*.pdb
/data/regex_db/lexer/Release
/kul/kul_editor_cfg.json
/data/cache/*.cache
/data/*.tmp
/data/add_widget_cfg.json
/src/toolkit/kunit_app/Release/
/src/toolkit/kunit/Release/
*.ilk
src/js_ext/js_ext_bitmap/Release/
src/js_ext/js_ext_bitmap/Debug/
/src/gl/gl_content/Debug/
/src/gl/gl_content/Release/
src/js_ext/js_ext_shell/js_ext_shell.vcproj.ZHANGXK-NOTEPAD.user.user
src/toolkit/libkulform.no.addin/Debug/
/src/toolkit/libkulreg/Release/
/src/toolkit/libkulreg/Debug/
/kul/kul_editor_block_preview.kul
/picture/cache/*.bmp
src/js_ext/js_ext_scintilla/Debug/
src/js_ext/js_ext_scintilla/Release/
/src/js_ext/js_ext_iosocket/Debug/
/src/js_ext/js_ext_iosocket/Release/
/bin/kdesktop_d.DPbcd
/src/base/factory/Debug/
/src/base/factory/Release/
/src/base/factory/factory.vcproj.ZHANGXK.X.K.user
/src/kmasdesktop.with.kul.engine/kmasdesktop/x64/
/data/distribute.cfg
/src/js_ext/js_ext_shell/js_ext_shell.vcproj.ZHANGXK.X.K.user
/src/js_ext/js_ext_shell/js_ext_shell.idc
/data/os.ver.txt
/data/regex_db/*
src/gl/gl_content/glContent.vcproj.ZHANGXK.X.K.user
src/gl/gl_data_base/Debug/
src/gl/gl_data_base/DebugRelease/
src/gl/gl_data_base/Release/
src/gl/gl_data_base/gl_data_base.vcproj.ZHANGXK.X.K.user
src/gl/gl_toolbox/gl_toolbox.vcproj.ZHANGXK.X.K.user
src/gl/gl_toolkit/gl_toolkit.vcproj.ZHANGXK.X.K.user
src/gl/gl_wcs/gl_wcs.vcproj.ZHANGXK.X.K.user
src/gl/gl_window/glWindow.vcproj.ZHANGXK.X.K.user
src/js_ext/js_ext_gl_db/Debug/
src/js_ext/js_ext_gl_db/Release/
src/js_ext/js_ext_gl_db/js_ext_gl_db.vcproj.ZHANGXK.X.K.user
src/kmasdesktop.with.kul.engine/kmasdesktop/ReleaseDebug/
src/toolkit/addin/glcanvas/Debug/
src/toolkit/addin/glcanvas/Release/
src/toolkit/addin/glcanvas/glcanvas.vcproj.ZHANGXK.X.K.user
[Rr]elease*/
_ReSharper*/
[Dd]ebug*/
js_ext/js_ext_comx_io/js_ext_comx_io.vcproj.ZHANGXK.X.K.user
additional.bat
src/js_ext/js_ext_gl_cache/js_ext_gl_cache.vcproj.user-PC.user.user
src/js_ext/js_ext_bitmap/js_ext_bitmap.vcproj.ZHANGXK.X.K.user
src/toolkit/js_ext_func/js_ext_func/js_ext_func.vcproj.ZHANGXK.X.K.user
src/js_ext/js_ext_comx_iosocket/js_ext_comx_iosocket.sdf
src/js_ext/js_ext_comx_iosocket/Backup/js_ext_comx_iosocket.sln
src/js_ext/js_ext_comx_iosocket/Backup/js_ext_comx_iosocket.v11.suo
src/toolkit/startup/startup.vcproj.ZHANGXK-NOTEPAD.user.user
/nodejs/*
*.js~
*.bat~


src/toolkit/testlib/testlib.sln
src/toolkit/testlib/testlib.suo
src/toolkit/testlib/testlib/ReadMe.txt
src/toolkit/testlib/testlib/stdafx.cpp
src/toolkit/testlib/testlib/stdafx.h
src/toolkit/testlib/testlib/testlib.cpp
src/toolkit/testlib/testlib/testlib.vcproj
src/toolkit/testlib/testlib/testlib.vcproj.ZHANGXK-NOTEPAD.user.user
